{% assign hasfeatures = 0 %}
{% for tag in product.tags %}
  {% if tag == 'mens-swimwear' %}{% endif %}
  {% if tag == 'boys-swimwear' %}{% endif %}
  {% if tag == 'girls-swimwear' %}{% endif %}
  {% if tag == 'swimming-accessories' %}{% endif %}
{% endfor %}

<h4 class="swim-features_header">AT A GLANCE</h4>
 <!-- Modal content -->
  <div id="myModal" class="modal">
  <div id="down">
  <div class="modal-content">
   <div class="modal-header">
   <span class="close">×</span>
    <h4 id="at_a_glance1"><strong>Bust support</strong> refers to extra support for the bust such as an underwire, shelf bra or cups Incorporated into the swimwear.</h4>
    </div>
   </div>
   </div>
  </div> 
   <div id="myModal2" class="modal">
    <div class="modal-content">
    <div class="modal-header">
       <span class="close">×</span>
         <h4 id="at_a_glance2"><strong>Chlorine resistant</strong> swimwear is manufactured from a special type of fabric, usually PBT and will resist the effects of chlorinated water in swimming pools and make your swimwear lasts longer than conventional swimwear fabrics. Ideal for swim training and people who swim frequently.</h4>
        </div>
       </div>
       </div>
    <div id="myModal3" class="modal">
        <div class="modal-content">
         <div class="modal-header">
          <span class="close">×</span>
        <h4 id="at_a_glance3"><strong>A crossback</strong> is swimwear where the straps go over your shoulder and then cross over each other on your back.</h4>
         </div>
        </div>
       </div>
       <div id="myModal4" class="modal">
        <div class="modal-content">
         <div class="modal-header">
          <span class="close">×</span>
         <h4 id="at_a_glance4">Swimwear that is <strong>FINA approved</strong> is swimwear that can be worn for competitive racing. Some swimwear is not FINA approved as it can be deemed to give an unfair advantage to a swimmer, i.e. certain fabrics and styles can increase your speed through the water.</h4>
         </div>
        </div>
       </div>
      <div id="myModal5" class="modal">
       <div class="modal-content">
         <div class="modal-header">
          <span class="close">×</span>
         <h4 id="at_a_glance5">Swimwear with greater <strong>back coverage</strong> for increased support when fitness swimming</h4>
      </div> 
      </div>
      </div>
      <div id="myModal6" class="modal">
      <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
       <h4 id="at_a_glance6"><strong>A high leg</strong> is cut high on your leg and is usually found in swimsuits that are ideal for performance swimming as it gives good freedom of movement.</h4>
      </div> 
      </div>
      </div>
      <div id="myModal7" class="modal">
       <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
          <h4 id="at_a_glance7">Swimwear with a <strong>medium leg</strong> gives modest coverage on the tops of your legs and is the most popular style of leg in swimwear.</h4>
       </div> 
      </div>
      </div>
      <div id="myModal8" class="modal">
      <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
       <h4 id="at_a_glance8">Swimwear with a <strong>low leg</strong> is cut so that the fabric sits lower on the tops of our legs, ideal for those who prefer more coverage on their legs.</h4>
      </div> 
      </div>
      </div>
      <div id="myModal9" class="modal">
      <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
       <h4 id="at_a_glance9">A <strong>racerback</strong> is a sporty looking back with straps that meet in the middle with the rest of your back covered. Ideal for the active and regular swimmer.</h4>
      </div>
      </div>
      </div>
      <div id="myModal10" class="modal"> 
      <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
       <h4 id="at_a_glance10">A <strong>two piece</strong> will have a separate top and pant rather than an all-in-one swimsuit.</h4>
        </div>
        </div>
      </div>
      <div id="myModal11" class="modal"> 
       <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
       <h4 id="at_a_glance11">Swimwear that <strong>zips</strong> at the back with a high neck to give a sleek look and sporty fit.</h4>
      </div>
      </div>
      </div>
      <div id="myModal12" class="modal"> 
      <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
       <h4 id="at_a_glance12">This is an <strong>open back</strong> style of swimsuit that is ideal for racing as it gives good freedom of shoulder movement and meet in a V-shape and there is a large opening in the back.</h4>
      </div>
      </div>
      </div>
      <div id="myModal13" class="modal"> 
       <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
       <h4 id="at_a_glance13">These swimsuits feature <strong>tummy control</strong> meaning you can feel confident at the pool or on the beach. Helps to visually slim and support your body.</h4>
      </div>
      </div>
      </div>
      <div id="myModal14" class="modal"> 
       <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
       <h4 id="at_a_glance14">These <strong>tall</strong> swimsuits give extra fabric around the middle and can be used for women that want some extra coverage or a swimsuit that doesn't get pulled up quite so much.</h4>
        </div>
       </div>
      </div>
      <div id="myModal15" class="modal"> 
      <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
       <h4 id="at_a_glance15">All <strong>Plus Size Swimwear</strong> is shaped and styled with some swimsuits containing bust support, tummy control and supportive back straps to give that extra comfort and confidence for a more pleasurable swimming session.</h4>
      </div>
      </div>
      </div>
      <div id="myModal16" class="modal"> 
       <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
          <h4 id="at_a_glance16">Swimwear with a traditional <strong>u shape</strong> cut out design for the back.</h4>
        </div>
      </div>
      </div>
      <div id="myModal17" class="modal"> 
       <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
       <h4 id="at_a_glance17">These swimsuits feature a <strong>clip</strong> on the back to make putting on and removing the suit easier.</h4>
      </div>
      </div>
      </div>
      <div id="myModal18" class="modal"> 
       <div class="modal-content">
        <div class="modal-header">
         <span class="close">×</span>
       <h4 id="at_a_glance18"><strong>Boyleg</strong> describes a bikini pant in the style of a short and comes just below the buttocks and crotch. Great style for women who prefer to cover the tops of their legs.</h4>
      </div>
      </div>
      </div>

<div class="modal-body">
<!-- The Modal -->
  {% for tag in product.tags %}
    {% if tag == 'bust-support' %}{% assign hasfeatures = 1 %}<a id="myBtn" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-BustSupport.png" | asset_url }}" width="90" height="134" alt="Bust Support" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'chlorine-resistant' %}{% assign hasfeatures = 1 %}<a id="myBtn2" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-ChlorineResistant.png" | asset_url }}" width="90" height="134" alt="Chlorine Resistant" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'crossback' %}{% assign hasfeatures = 1 %}<a id="myBtn3" href="#" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-CrossBack.png" | asset_url }}" width="90" height="134" alt="Cross Back" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'fina-approved' %}{% assign hasfeatures = 1 %}<a id="myBtn4" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-FinaApproved.png" | asset_url }}" width="90" height="134" alt="Fina Approved" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'fitness-back' %}{% assign hasfeatures = 1 %}<a id="myBtn5" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-FitnessBack.png" | asset_url }}" width="90" height="134" alt="Fitness Back" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'high-leg' %}{% assign hasfeatures = 1 %}<a id="myBtn6" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-HighLeg.png" | asset_url }}" width="90" height="134" alt="High Leg" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'medium-leg' %}{% assign hasfeatures = 1 %}<a id="myBtn7" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-MediumLeg.png" | asset_url }}" width="90" height="134" alt="Medium Leg" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'low-leg' %}{% assign hasfeatures = 1 %}<a id="myBtn8" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-LowLeg.png" | asset_url  }}" width="90" height="134" alt="Low Leg" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'racerback' %}{% assign hasfeatures = 1 %}<a id="myBtn9" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-RacerBack.png" | asset_url}}" width="90" height="134" alt="Racer Back" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'two-piece-swimwear' %}{% assign hasfeatures = 1 %}<a id="myBtn10"   href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-TwoPiece.png" | asset_url}}" width="90" height="134" alt="Two Piece" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'zip-back' %}{% assign hasfeatures = 1 %}<a id="myBtn11" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-ZipperBack.png" | asset_url}}" width="90" height="134" alt="Zipper Back" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'open-back' %}{% assign hasfeatures = 1 %}<a id="myBtn12" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-OpenBack.png" | asset_url}}" width="90" height="134" alt="Open Back" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'tummy-control-swimsuits' %}{% assign hasfeatures = 1 %}<a id="myBtn13"  href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-TummyControl.png" | asset_url}}" width="90" height="134" alt="Tummy Control" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'longer-length' %}{% assign hasfeatures = 1 %}<a id="myBtn14" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-LongerLength.png" | asset_url}}" width="90" height="134" alt="Longer Length" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'plus-size-swimwear' %}{% assign hasfeatures = 1 %}<a id="myBtn15" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-PlusSize.png" | asset_url}}" width="90" height="134" alt="Plus Size" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'u-back' %}{% assign hasfeatures = 1 %}<a id="myBtn16" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-UBack.png" | asset_url}}" width="90" height="134" alt="U Back" class="swim-features_img" /></a>{% endif %}
    {% if tag == 'clipback' %}{% assign hasfeatures = 1 %}<a id="myBtn17" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-ClipBack.png" | asset_url}}" width="90" height="134" alt="Clip Back" class="swim-features_img" /></a>{% endif %}      
    {% if tag == 'boyleg' %}{% assign hasfeatures = 1 %}<a id="myBtn18" href="#down" onclick="scrollIntoView({block: 'center'})" data-featherlight="image"><img src="{{"SwimFeatureIcon-BoyLeg.png" | asset_url }}" width="90" height="134" alt="Boyleg" class="swim-features_img" /><h4 id="at_a_glance">Bust support refers to extra support for the bust such as an underwire, shelf bra or cups Incorporated into the swimwear.</h4></a>{% endif %}                             
  {% endfor %}
 </div> 
<script>
window.onload = function(){ 
// Get the modal
var modal = document.getElementById('myModal');
modal.scrollIntoViewIfNeeded(true);
var modal2 = document.getElementById('myModal2');
modal2.scrollIntoViewIfNeeded(true);
var modal3 = document.getElementById('myModal3');
modal3.scrollIntoViewIfNeeded(true);
var modal4 = document.getElementById('myModal4');
modal4.scrollIntoViewIfNeeded(true);
var modal5 = document.getElementById('myModal5');
modal5.scrollIntoViewIfNeeded(true);
var modal6 = document.getElementById('myModal6');
modal6.scrollIntoViewIfNeeded(true);
var modal7 = document.getElementById('myModal7');
modal7.scrollIntoViewIfNeeded(true);
var modal8 = document.getElementById('myModal8');
modal8.scrollIntoViewIfNeeded(true);
var modal9 = document.getElementById('myModal9');
modal9.scrollIntoViewIfNeeded(true);
var modal10 = document.getElementById('myModal10');
modal10.scrollIntoViewIfNeeded(true);
var modal11 = document.getElementById('myModal11');
modal11.scrollIntoViewIfNeeded(true);
var modal12 = document.getElementById('myModal12');
modal12.scrollIntoViewIfNeeded(true);
var modal13 = document.getElementById('myModal13');
modal13.scrollIntoViewIfNeeded(true);
var modal14 = document.getElementById('myModal14');
modal14.scrollIntoViewIfNeeded(true);
var modal15 = document.getElementById('myModal15');
modal15.scrollIntoViewIfNeeded(true);
var modal16 = document.getElementById('myModal16');
modal16.scrollIntoViewIfNeeded(true);
var modal17 = document.getElementById('myModal17');
modal17.scrollIntoViewIfNeeded(true);
var modal18 = document.getElementById('myModal18');
modal18.scrollIntoViewIfNeeded(true);

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
var btn2 = document.getElementById("myBtn2");
var btn3 = document.getElementById("myBtn3");
var btn4 = document.getElementById("myBtn4");
var btn5 = document.getElementById("myBtn5");
var btn6 = document.getElementById("myBtn6");
var btn7 = document.getElementById("myBtn7");
var btn8 = document.getElementById("myBtn8");
var btn9 = document.getElementById("myBtn9");
var btn10 = document.getElementById("myBtn10");
var btn11 = document.getElementById("myBtn11");
var btn12 = document.getElementById("myBtn12");
var btn13 = document.getElementById("myBtn13");
var btn14 = document.getElementById("myBtn14");
var btn15 = document.getElementById("myBtn15");
var btn16 = document.getElementById("myBtn16");
var btn17 = document.getElementById("myBtn17");
var btn18 = document.getElementById("myBtn18");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var span2 = document.getElementsByClassName("close")[1];
var span3 = document.getElementsByClassName("close")[2];
var span4 = document.getElementsByClassName("close")[3];
var span5 = document.getElementsByClassName("close")[4];
var span6 = document.getElementsByClassName("close")[5];
var span7 = document.getElementsByClassName("close")[6];
var span8 = document.getElementsByClassName("close")[7];
var span9 = document.getElementsByClassName("close")[8];
var span10 = document.getElementsByClassName("close")[9];
var span11 = document.getElementsByClassName("close")[10];
var span12 = document.getElementsByClassName("close")[11];
var span13 = document.getElementsByClassName("close")[12];
var span14 = document.getElementsByClassName("close")[13];
var span15 = document.getElementsByClassName("close")[14];
var span16 = document.getElementsByClassName("close")[15];
var span17 = document.getElementsByClassName("close")[16];
var span18 = document.getElementsByClassName("close")[17];
var headermodaltext = document.getElementById("at_a_glance1");  
var headermodaltext2 = document.getElementById("at_a_glance2");  
var headermodaltext3 = document.getElementById("at_a_glance3"); 
var headermodaltext4 = document.getElementById("at_a_glance4"); 
var headermodaltext5 = document.getElementById("at_a_glance5");  
var headermodaltext6 = document.getElementById("at_a_glance6"); 
var headermodaltext7 = document.getElementById("at_a_glance7"); 
var headermodaltext8 = document.getElementById("at_a_glance8"); 
var headermodaltext9 = document.getElementById("at_a_glance9"); 
var headermodaltext10 = document.getElementById("at_a_glance10");  
var headermodaltext11 = document.getElementById("at_a_glance11"); 
var headermodaltext12 = document.getElementById("at_a_glance12"); 
var headermodaltext13 = document.getElementById("at_a_glance13");  
var headermodaltext14 = document.getElementById("at_a_glance14"); 
var headermodaltext15 = document.getElementById("at_a_glance15"); 
var headermodaltext16 = document.getElementById("at_a_glance16");
var headermodaltext17 = document.getElementById("at_a_glance17");  
var headermodaltext18 = document.getElementById("at_a_glance18");                       
 
// When the user clicks the button, open the modal 
 if (typeof(btn) != 'undefined' && btn != null){
  btn.onclick = function() {
    modal.style.display = "block";
    modal.scrollIntoView({behavior: "smooth", block: "end"});
  } 
}

if (typeof(btn2) != 'undefined' && btn2 != null){
btn2.onclick = function() {
  modal2.style.display = "block";
  modal2.scrollIntoView({behavior: "smooth", block: "center"});
}
  }

if (typeof(btn3) != 'undefined' && btn3 != null){
btn3.onclick = function() {
  modal3.style.display = "block";
  modal3.scrollIntoView({behavior: "smooth", block: "center"});
}
  }

if (typeof(btn4) != 'undefined' && btn4 != null){
btn4.onclick = function() {
  modal4.style.display = "block";
  modal4.scrollIntoView({behavior: "smooth", block: "center"});
}
  }

if (typeof(btn5) != 'undefined' && btn5 != null){
btn5.onclick = function() {
  modal5.style.display = "block";
  modal5.scrollIntoView({behavior: "smooth", block: "center"});
}
  }

if (typeof(btn6) != 'undefined' && btn6 != null){
btn6.onclick = function() {
  modal6.style.display = "block";
  modal6.scrollIntoView({behavior: "smooth", block: "center"});
}
  }

if (typeof(btn7) != 'undefined' && btn7 != null){
btn7.onclick = function() {
  modal7.style.display = "block";
  modal7.scrollIntoView({behavior: "smooth", block: "center"});
}
  }

if (typeof(btn8) != 'undefined' && btn8 != null){
btn8.onclick = function() {
  modal8.style.display = "block";
  modal8.scrollIntoView({behavior: "smooth", block: "center"});
}
  }  

if (typeof(btn9) != 'undefined' && btn9 != null){
btn9.onclick = function() {
  modal9.style.display = "block";
  modal9.scrollIntoView({behavior: "smooth", block: "center"});
}
  }   

if (typeof(btn10) != 'undefined' && btn10 != null){
btn10.onclick = function() {
  modal10.style.display = "block";
  modal10.scrollIntoView({behavior: "smooth", block: "center"});
}
  }    

if (typeof(btn11) != 'undefined' && btn11 != null){
btn11.onclick = function() {
  modal11.style.display = "block";
  modal11.scrollIntoView({behavior: "smooth", block: "center"});
}
  }   

if (typeof(btn12) != 'undefined' && btn12 != null){
btn12.onclick = function() {
  modal12.style.display = "block";
  modal12.scrollIntoView({behavior: "smooth", block: "center"});
}
  }   

  if (typeof(btn13) != 'undefined' && btn13 != null){
btn13.onclick = function() {
  modal13.style.display = "block";
  modal13.scrollIntoView({behavior: "smooth", block: "center"});
}
  }  

    if (typeof(btn14) != 'undefined' && btn14 != null){
btn14.onclick = function() {
  modal14.style.display = "block";
  modal14.scrollIntoView({behavior: "smooth", block: "center"});
}
  }    

  if (typeof(btn15) != 'undefined' && btn15 != null){
btn15.onclick = function() {
  modal15.style.display = "block";
  modal15.scrollIntoView({behavior: "smooth", block: "center"});
}
  }    

    if (typeof(btn16) != 'undefined' && btn16 != null){
btn16.onclick = function() {
  modal16.style.display = "block";
  modal16.scrollIntoView({behavior: "smooth", block: "center"});
}
  }   

      if (typeof(btn17) != 'undefined' && btn17 != null){
btn17.onclick = function() {
  modal17.style.display = "block";
  modal17.scrollIntoView({behavior: "smooth", block: "center"});
}
  }  

  if (typeof(btn18) != 'undefined' && btn18 != null){
btn18.onclick = function() {
  modal18.style.display = "block";
  modal18.scrollIntoView({behavior: "smooth", block: "center"});
}
  }  

// When the user clicks on <span> (x), close the modal
 if (typeof(span) != 'undefined' && span != null){
  span.onclick = function() {
    modal.style.display = "none";
  }
}

 if (typeof(span2) != 'undefined' && span2 != null){
  span2.onclick = function() {
    modal2.style.display = "none";
  }
}

 if (typeof(span3) != 'undefined' && span3 != null){
  span3.onclick = function() {
    modal3.style.display = "none";
  }
}

 if (typeof(span4) != 'undefined' && span4 != null){
  span4.onclick = function() {
    modal4.style.display = "none";
  }
}

 if (typeof(span5) != 'undefined' && span5 != null){
  span5.onclick = function() {
    modal5.style.display = "none";
  }
}

 if (typeof(span6) != 'undefined' && span6 != null){
  span6.onclick = function() {
    modal6.style.display = "none";
  }
}

 if (typeof(span7) != 'undefined' && span7 != null){
  span7.onclick = function() {
    modal7.style.display = "none";
  }
}

 if (typeof(span8) != 'undefined' && span8 != null){
  span8.onclick = function() {
    modal8.style.display = "none";
  }
}

 if (typeof(span9) != 'undefined' && span9 != null){
  span9.onclick = function() {
    modal9.style.display = "none";
  }
}

 if (typeof(span10) != 'undefined' && span10 != null){
  span10.onclick = function() {
    modal10.style.display = "none";
  }
}

 if (typeof(span11) != 'undefined' && span11 != null){
  span11.onclick = function() {
    modal11.style.display = "none";
  }
}

 if (typeof(span12) != 'undefined' && span12 != null){
  span12.onclick = function() {
    modal12.style.display = "none";
  }
}

 if (typeof(span13) != 'undefined' && span13 != null){
  span13.onclick = function() {
    modal13.style.display = "none";
  }
}

 if (typeof(span14) != 'undefined' && span14 != null){
  span14.onclick = function() {
    modal14.style.display = "none";
  }
}

 if (typeof(span15) != 'undefined' && span15 != null){
  span15.onclick = function() {
    modal15.style.display = "none";
  }
}

 if (typeof(span16) != 'undefined' && span16 != null){
  span16.onclick = function() {
    modal16.style.display = "none";
  }
}

 if (typeof(span17) != 'undefined' && span17 != null){
  span17.onclick = function() {
    modal17.style.display = "none";
  }
}

 if (typeof(span18) != 'undefined' && span18 != null){
  span18.onclick = function() {
    modal18.style.display = "none";
  }
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal || event.target == modal2 || event.target == modal3 || event.target == modal4 || event.target == modal5 || event.target == modal6 || event.target == modal7 || event.target == modal8 || event.target == modal9 || event.target == modal10 || event.target == modal11 || event.target == modal12 || event.target == modal13 || event.target == modal14 || event.target == modal15 || event.target == modal16 || event.target == modal17 || event.target == modal18) {
    if (typeof(modal) != 'undefined' && modal != null){
        modal.style.display = "none";
     }
      if (typeof(modal2) != 'undefined' && modal2 != null){
        modal2.style.display = "none";
     }
      if (typeof(modal3) != 'undefined' && modal3 != null){
        modal3.style.display = "none";
     }
      if (typeof(modal4) != 'undefined' && modal4 != null){
        modal4.style.display = "none";
     }
      if (typeof(modal5) != 'undefined' && modal5 != null){
        modal5.style.display = "none";
     }
     if (typeof(modal6) != 'undefined' && modal6 != null){
        modal6.style.display = "none";
     }
    if (typeof(modal7) != 'undefined' && modal7 != null){
        modal7.style.display = "none";
     }
    if (typeof(modal8) != 'undefined' && modal8 != null){
        modal8.style.display = "none";
     }
    if (typeof(modal9) != 'undefined' && modal9 != null){
        modal9.style.display = "none";
     }
    if (typeof(modal10) != 'undefined' && modal10 != null){
        modal10.style.display = "none";
     }
    if (typeof(modal11) != 'undefined' && modal11 != null){
        modal11.style.display = "none";
     }
    if (typeof(modal12) != 'undefined' && modal12 != null){
        modal12.style.display = "none";
     }
    if (typeof(modal13) != 'undefined' && modal13 != null){
        modal13.style.display = "none";
     }
    if (typeof(modal14) != 'undefined' && modal14 != null){
        modal14.style.display = "none";
     }
    if (typeof(modal15) != 'undefined' && modal15 != null){
        modal15.style.display = "none";
     }
    if (typeof(modal16) != 'undefined' && modal16 != null){
        modal16.style.display = "none";
     }
    if (typeof(modal17) != 'undefined' && modal17 != null){
        modal17.style.display = "none";
     }
    if (typeof(modal18) != 'undefined' && modal18 != null){
        modal18.style.display = "none";
     }
  }
 }
}

window.smoothScroll = function(target) {
    var scrollContainer = target;
    do { //find scroll container
        scrollContainer = scrollContainer.parentNode;
        if (!scrollContainer) return;
        scrollContainer.scrollTop += 1;
    } while (scrollContainer.scrollTop == 0);

    var targetY = 0;
    do { //find the top of target relatively to the container
        if (target == scrollContainer) break;
        targetY += target.offsetTop;
    } while (target = target.offsetParent);

    scroll = function(c, a, b, i) {
        i++; if (i > 30) return;
        c.scrollTop = a + (b - a) / 30 * i;
        setTimeout(function(){ scroll(c, a, b, i); }, 20);
    }
    // start scrolling
    scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
}
</script>
<style>
.glance-icons {display:inline;width: 20vw;}
</style>
{% if hasfeatures == 0 %}
<style>.modal-content{display:none;}</style>
{% endif %}
{% if hasfeatures == 1 %}
<style>
html {scroll-behavior: smooth;}
a { text-decoration: none;}
#down {
  margin-top: 100%;
  padding-bottom: 25%;
}
.swim-features_header{display:flex; flex-direction:row; margin: 20px auto; padding-bottom: 20px;}
  .modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 801; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0%;
    top: 39%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s;
  top: 40%;
  max-width: 800px;
  left: 0;
  right: 0;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -4px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #039fb5;
  color: white;
}
.modal-header h2{
 
  color: white !important;
}

.modal-body {
  padding: 2px 16px;
  max-height: 400px;
  overflow-y: visible;
  width: 368px;
  transform: translateX(-4%);
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body tbody th, tbody td {
    border: black 1px solid;
}
</style>
{% endif %}
{% comment %} <script>
window.addEventListener('load', setup);

const get = document.getElementById.bind(document);
const query = document.querySelector.bind(document);
const anchors = document.getElementsByTagName("a");

function setup() {
  
  let modalRoot = get('modal-root');
  let anchorLink = anchors('modal-opener');
  let modal = query('.modal');
  
  modalRoot.addEventListener('click', rootClick);
  anchorLink.addEventListener('click', openModal);
  modal.addEventListener('click', modalClick);
  
  function rootClick() {
    modalRoot.classList.remove('visible');
  }
  
  function openModal() {
    modalRoot.classList.add('visible');
  }
  
  function modalClick(e) {
    e.preventDefault();
    e.stopPropagation();
    e.stopImmediatePropagation();
    return false;
  }
  
}
</script> {% endcomment %}
